body {
  font-family: Arial, sans-serif;
  text-align: center;
}

input, button {
  padding: 8px;
}

button {
  cursor: pointer;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #45a049;
}
